#{{ ansible_managed }}
user www-data;
worker_processes  {{ ansible_processor_count }};

pid /var/run/nginx.pid;

events {
    worker_connections 768;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    charset utf-8;

    access_log /var/log/nginx/access.log;

    types_hash_max_size 2048;
    server_names_hash_bucket_size 64;

    server_tokens off;

    sendfile on;

    tcp_nopush on;
    tcp_nodelay off;

    gzip on;
    gzip_disable "msie6";

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}