#{{ ansible_managed }}
server {
    listen 80;

    server_name adminer.localhost.com;

    root /var/www/adminer;

    error_log /var/log/nginx/adminer.localhost.com.error.log crit;

    location / {
        index adminer-4.1.0.php;
    }

    # pass the PHP scripts to FastCGI server from upstream phpfcgi
    location ~ ^/(adminer-4.1.0)\.php(/|$) {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param  HTTPS off;
    }
}